@using Pharmacy.Core.Entities.ViewModels.Requests.Medicines
@model AddMedicineToCaseRequest

@{
    ViewData["Title"] = "Add medicine";
}

<h1 style="text-align:center"><strong class="text-primary">@("Add medicine for case " + ViewBag.Case.Name)</strong></h1>
<div class="owl-prev text-center" style="font-size: 24px;">
    <a asp-action="Medicines" asp-route-id="@Model.CaseId"><span class="icon-arrow_back"></span></a>
</div>

<form asp-action="AddMedicine" asp-route-id="@Model.CaseId">
    <div class="p-3 p-lg-5 border">

        <input type="hidden" asp-for="CaseId" value="@Model.CaseId" />

        <div class="form-group row">
            <div class="col-md-6">
                <label asp-for="MedicineId" class="text-black">@Html.DisplayNameFor(Model => Model.MedicineId)<span class="text-danger">*</span></label>
                <select asp-for="MedicineId" class="form-control" asp-items="@(new SelectList(Model.MedicineSelectList.GetSelectList(), "Key", "Value"))">
                    <option value="">Select one</option>
                </select>
                <span asp-validation-for="MedicineId" class="text-danger"></span>
            </div>
        </div>

        <div class="form-group row">
            <div class="col-md-6">
                <label asp-for="Times" class="text-black">@Html.DisplayNameFor(Model => Model.Times)<span class="text-danger">*</span></label>
                <input asp-for="Times" class="form-control">
                <span asp-validation-for="Times" class="text-danger"></span>
            </div>
        </div>


        <div class="form-group row">
            <div class="col-lg-12">
                <input type="submit" class="btn btn-primary btn-lg btn-block" value="Create">
            </div>
        </div>
    </div>
</form>

@section Scripts {
    @{
    await Html.RenderPartialAsync("_ValidationScriptsPartial");
}
}